# LISTS

In [ ]:
"""Functions are independent blocks of code that can be called from anywhere, 
while methods are tied to objects or classes and need an object or class instance to be invoked."""

In [1]:
list1 = [1,2,3,4,5]                      #index   0  1  2  3  4
                                         #values  1  2  3  4  5

In [2]:
list2 = [6,7,"usha", "gayatri"]     #index   0  1     2       3  
                                    #values  6  7  "usha"  "gayatri"

In [4]:
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[6, 7, 'usha', 'gayatri']

In [5]:
print(list1[2])

3

In [7]:
print(list1[1:3])

[2, 3]

In [ ]:
print(list1*2)

In [8]:
list1[1] = "Jaya"
print(list1)

[1, 'Jaya', 3, 4, 5]

# TUPLE  (Read only lists)

In [2]:
tuple1 = (3,6,4,7,2)
print(tuple1)

(3, 6, 4, 7, 2)

In [11]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [20]:
print(my_tuple[1:2])

([8, 4, 6],)

In [21]:
print(my_tuple[:])

('mouse', [8, 4, 6], (1, 2, 3))

In [25]:
tuple1 = (3,6,4,7,2)
print(tuple1)

(3, 6, 4, 7, 2)

In [26]:
print(tuple1[1])

6

In [27]:
tuple1.index(2)

4

In [28]:
tuple1.count(2)

1

In [30]:
sorted(tuple1)

[2, 3, 4, 6, 7]

In [34]:
sorted(tuple1, reverse=True)

[7, 6, 4, 3, 2]

In [5]:
tuple1[1] = 9   #error because tuples are not mutable

TypeError: 'tuple' object does not support item assignment

In [6]:
l = len(tuple1)
print(l)

5

In [32]:
tuple3=(5,3,7,1,8,2,4)

In [35]:
sum(tuple3)

30

In [36]:
#add items of an itrable
sum(tuple3, 10)

40

In [16]:
tuple2 = (2,3.4,"usha", 5,2, "gayatri",2,)

In [17]:
tuple2.count(2)

3

In [32]:
print(tuple2[1:3])

(3.4, 'usha')

In [33]:
print(tuple2[0:5])

(2, 3.4, 'usha', 5, 'gayatri')

In [34]:
print(len(tuple2))

5

In [12]:
print(max(tuple1))

7

In [13]:
print(min(tuple1))

2

In [ ]:
#sorted

In [ ]:
#sum

In [ ]:
#tuple

In [14]:
languages = ('Python', 'Swift', 'C++')

print('C' in languages)    # False
print('Python' in languages)    # True

False
True

In [ ]:
#languages = ('Python', 'Swift', 'C++')

# iterating through the tuple
for language in languages:
    print(language)

# DICTIONARY

In [63]:
dict1 = {101:'Python',
         102:'SQL',
         103:'Tableau'
        }
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau'}

In [5]:
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau'}

In [6]:
print(dict1.keys())

dict_keys([101, 102, 103])

In [7]:
a = dict1.get(102)
print(a)

SQL

In [64]:
d2 = {104:'Power BI'}
dict1.update(d2)
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau', 104: 'Power BI'}

In [10]:
d2.clear()
print(d2)

{}

In [11]:
print(dict1)

{101: 'Python', 102: 'SQL', 103: 'Tableau', 104: 'Power BI'}

In [ ]:
# create an empty dictionary
empty_dictionary = { }

In [67]:
print(dict1.pop(102))

SQL

In [68]:
print(dict1)

{101: 'Python', 103: 'Tableau', 104: 'Power BI'}

In [70]:
#The popitem() method removes and returns the (key, value) pair from 
#the dictionary in the Last In, First Out (LIFO) order.
dict1[105] = 'Java'
print(dict1)

{101: 'Python', 103: 'Tableau', 104: 'Power BI', 105: 'Java'}

In [71]:
print(dict1.popitem())

(105, 'Java')

# SET  -> A set is a collection of unique data. That is, elements of a set cannot be duplicate.

In [ ]:
"""A set can have any number of items and they may be of different types (integer, float, tuple, string etc.). 
But a set cannot have mutable elements like lists, sets or dictionaries as its elements."""
#Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

In [ ]:
# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

In [ ]:
# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

In [ ]:
# create an empty set
empty_set = set()

In [46]:
#duplicate values are not allowed
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [47]:
#Remove, add, copy

thisset.remove('cherry')
print(thisset)

{False, True, 'apple', 'banana'}

In [51]:
thisset.add('Mango')
print(thisset)

{False, True, 'Mango', 'apple', 'banana'}

In [53]:
new_set=thisset.copy()
print(new_set)

{False, True, 'Mango', 'apple', 'banana'}

In [59]:
# sets of numbers
A = {1, 3, 5, 7, 9}
B = {2, 3, 5, 7, 11}

# returns items present only in set A
print(A.difference(B))

{1, 9}

In [55]:
# compute intersection between A and B
print(A.intersection(B))

{3, 5, 7}

In [56]:
"""The issubset() method returns True if set A is the subset of B, i.e. if all the elements of set A are present in set B .
Else, it returns False."""

# all items of A are present in B
print(A.issubset(B))

False

In [60]:
removed_item = A.pop()
print(removed_item)

1

# if
if condition:
    # body of if statement

In [61]:
number = 10

# check if number is greater than 0
if number > 0:
    print('Number is positive.')

print('The if statement is easy')

Number is positive.
The if statement is easy

# IF Else
#Syntax
#if condition:
    # block of code if condition is True

#else:
    # block of code if condition is False

In [12]:
num = -5
if (num > 0):
    print("Number is positive number.")
print('Thank you')

Thank you

In [13]:
num = int(input('Enter a number'))
if(num % 2 == 0):
    print('Number is even number')
else:
    print('Number is odd number.')

Enter a number6
Number is even number

# if elif else
if condition1:
    # code block 1

elif condition2:
    # code block 2

else: 
    # code block 3

In [15]:
num = int(input('Enter a number'))
if(num>0):
    print('Number is positive number.')
elif(num<0):
    print('Number is negative number.')
else:
    print('Zero')

Enter a number-5
Number is negative number.

In [16]:
#printing even numbers
n = int(input('Enter a number'))
x = 1
while x<=n:
    if x%2==0:
        print(x, end ='\t')
    x += 1

Enter a number5
2	4

In [17]:
i = 1
while i<= 4:
    j = 1
    while j<= 12:
        print(i*j, end = '\t')
        j+=1
    i+=1
    print('\n')

1	2	3	4	5	6	7	8	9	10	11	12

2	4	6	8	10	12	14	16	18	20	22	24

3	6	9	12	15	18	21	24	27	30	33	36

4	8	12	16	20	24	28	32	36	40	44	48

In [17]:
n = int(input('Enter a number'))
sum = 0
for x in range(1,n+1,1):
    sum = sum + x
print('Sum is :',sum)

Enter a number4
Sum is : 10

In [18]:
l1 = ['hello','world','python']
for i in range(len(l1)):
    print(l1[i])

hello
world
python

In [19]:
sub = ['Python','DA','SQL']
level =['Beginners','Intermediate','Advanced']

for x in sub:
    for y in level:
        print(x,y)

Python Beginners
Python Intermediate
Python Advanced
DA Beginners
DA Intermediate
DA Advanced
SQL Beginners
SQL Intermediate
SQL Advanced

In [20]:
for r in range(1,6):             #r  from 1 to 5
    for c in range(1,r+1):       #c  from 1 to 6
        print('*',end='\t')
    print()

*
*	*
*	*	*
*	*	*	*
*	*	*	*	*

In [21]:
for char in 'Python':
    if (char == 'h'):
        pass
    print('Current character:', char)

Current character: P
Current character: y
Current character: t
Current character: h
Current character: o
Current character: n

In [74]:
# Python program to demonstrate 
# break statement 
  
s = 'Numpyninja'
# Using for loop 
for letter in s: 
  
    print(letter) 
    # break the loop as soon it sees 'i' 
    # or 'j' 
    if letter == 'i' or letter == 'j': 
        break
  
print("Out of for loop") 
print()

N
u
m
p
y
n
i
Out of for loop

In [75]:


# loop from 1 to 10
for i in range(1, 11):
 
    # If i is equals to 6,
    # continue to next iteration
    # without printing
    if i == 6:
        continue
    else:
        # otherwise print the value
        # of i
        print(i, end=" ")

1 2 3 4 5 7 8 9 10